body {
    -webkit-animation: fadein 1.8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.8s; /* Firefox < 16 */
        -ms-animation: fadein 1.8s; /* Internet Explorer */
         -o-animation: fadein 1.8s; /* Opera < 12.1 */
            animation: fadein 1.8s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}